.chest .el-card__body{
    padding: 10px 20px;
}

.chest .el-dropdown-menu{
    z-index: 99999;
}

.chest .el-main{
    width: 100%;
    display: block;
    position:absolute;
    top: 60px;
    padding: 30px;
    bottom: 0;
    overflow-y: scroll;
}

.chest .el-main::-webkit-scrollbar {
    display: none;
}

.chest a {
    text-decoration: none;
    color: #7e7e80;
}

.chest .sidebar-ul-padding{
    padding: 0;
}

.chest .sidebar-heading {
    color: #2c3e50;
    transition: color .15s ease;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 700;
    padding: .35rem 1.5rem .35rem 1.25rem;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    border-left: .25rem solid transparent;
}

.chest .sidebar-group {
    margin-bottom: 12px;
}

.chest .sidebar-group-items {
    transition: height .1s ease-out;
    font-size: .95em;
    overflow: hidden;
}

.chest a.sidebar-link {
    font-size: 1em;
    font-weight: 400;
    display: inline-block;
    color: #2c3e50;
    border-right: .25rem solid transparent;
    padding: .35rem 1rem .35rem 1rem;
    line-height: 1.4;
    width: 100%;
    box-sizing: border-box;
}

.chest a.sidebar-link.active {
    font-weight: 600;
    color: #3eaf7c;
    border-right-color: #3eaf7c;
}

.chest a.sidebar-link:hover{
    color: #3eaf7c;
    border-right-color: #3eaf7c;
}
