.head-fixed {
    width: 100%;
    line-height: 60px;
    border: 1px solid #eaecef;
    position: fixed;
    background-color: white;
    z-index: 999;
}

.head-title {
    font-size: 1.45rem;
    font-weight: 600;
    color: #2c3e50;
    position: relative;
}

.head-type-ele {
    cursor: pointer;
    height: 40px;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
    color: #7e7e80;
}

.blog .head-right-div .el-input__inner{
    border-radius: 100px;
    height: 35px;
}

.blog .el-dropdown-menu{
    z-index: 99999;
}

.blog .el-aside {
    display: block;
    position: absolute;
    left: 0;
    top: 60px;
    bottom: 0;
    overflow-y: scroll;
    border-right: 1px solid #eaecef;
    box-shadow: 1px 0 5px #888888;
}

.blog .el-aside::-webkit-scrollbar {
    display: none;
}

.blog .el-main{
    width: calc(100% - 330px);
    display: block;
    position:absolute;
    top: 60px;
    left: 330px;
    padding: 0;
    bottom: 0;
    overflow-y: scroll;
}

.blog .el-main::-webkit-scrollbar {
    width : 10px;
    height: 1px;
}
.blog .el-main::-webkit-scrollbar-thumb {
    border-radius   : 10px;
    background-color: #73b967;
}
.blog .el-main::-webkit-scrollbar-track {
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
    background   : #ededed;
    border-radius: 10px;
}

.blog .el-aside ul {
    margin: 0;
    list-style-type: none;
}

.blog .sidebar-ul-padding{
    padding: 0;
}

.blog .sidebar-heading {
    color: #2c3e50;
    transition: color .15s ease;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 700;
    padding: .35rem 1.5rem .35rem 1.25rem;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    border-left: .25rem solid transparent;
}

.blog .sidebar-group {
    margin-bottom: 10px;
}

.blog .sidebar-group-items {
    transition: height .1s ease-out;
    font-size: .95em;
    overflow: hidden;
}

.blog a.sidebar-link {
    font-size: 1em;
    font-weight: 400;
    display: inline-block;
    color: #2c3e50;
    border-right: .25rem solid transparent;
    padding: .28rem 1rem .28rem 1rem;
    line-height: 1.4;
    width: 100%;
    box-sizing: border-box;
}

.blog a.sidebar-link.active {
    font-weight: 600;
    color: #3eaf7c;
    border-right-color: #3eaf7c;
}

.blog a.sidebar-link:hover{
    color: #3eaf7c;
    border-right-color: #3eaf7c;
}

.blog a {
    text-decoration: none;
    color: #7e7e80;
}

.home a {
    text-decoration: none;
    color: #7e7e80;
}

.el-dropdown-menu a{
    text-decoration: none;
    color: #7e7e80;
}

.blog .main-md-body {
    padding: 30px;
    font-size: 16px;
}

.blog .catalog{
    position: fixed;
    z-index: 999;
    right: 20px;
    background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
    border-radius: 25px;
    opacity:0.3;
    max-height: 70%;
    overflow-y: scroll;
}

.blog .catalog::-webkit-scrollbar {
    display: none;
}

.blog .catalog:hover{
    opacity:1;
    background: rgba(255, 255, 255, 1) none repeat scroll 0 0;
}

.blog .catalog ul{
    list-style: none;
    padding: 0 32px 0 20px;
}

.blog .catalog a:hover{
    font-weight: normal;
}

.home .el-main{
    width: 100%;
    display: block;
    position:absolute;
    top: 60px;
    padding: 0;
    bottom: 0;
}

.home .el-main{
    width: 100%;
    display: block;
    position:absolute;
    top: 60px;
    padding: 0;
    bottom: 60px;
}

.home .el-footer{
    width: 100%;
    display: block;
    position:absolute;
    bottom:0;
    padding: 0;
}

.read-only{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.markdown-body a{
    text-decoration: none;
    color: #3eaf7c;
}

.markdown-body a:hover{
    text-decoration: none;
    color: #3eaf7c;
    font-weight: bolder;
}

.text-center{
    text-align: center;
}

.markdown-body blockquote{
    font-size: 1rem;
    color: #2c3e50;
    border-left: .5rem solid #42b983;
    background-color: #f3f5f7;
    margin: 1rem 0;
    padding: 0.8rem 0 0.8rem 1rem;
}
